@charset "UTF-8";

:root{
  --corfundobody: rgb(240, 251, 207);
  --corfundoh1: rgb(108, 225, 108);
  --corfundomain: rgb(216, 246, 216);

}


*{
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--corfundobody);
    margin: 0px;
    padding: 0px;
  }

main{
  max-width: 800px;
  display: block;
  margin: auto ;
  background-color: var(--corfundomain);
  padding: 10px;
}

  h1{
    background-color:var(--corfundoh1);
    color: white;
    text-align: center;
    font-size: 45px;
    margin-bottom: 15px;
  }

  h2{
    background-color:  var(--corfundoh1);
    color: white;
    text-align: center;
    padding: 5px;
    margin: 40px 100px 10px 100px;
    font-size: 27px;
  }

  h3{
    padding: 15px;
    font-size: 25px;
    text-decoration: underline;
    background-color: var(--corfundomain) ;
    text-decoration-color: var(--corfundoh1) ;
  }

  p, i{
    background-color: var(--corfundomain);
    margin: 15px 0px 15px 0px;
    text-align: center;
    font-size: 20px;
  }
  #container{
    display: flex;
    height: 300px;
  }
  #form1{
    width: 400px;
    margin-left: 20px;
  }

  #form2{
    height: 100px;
    margin-left: 150px;
  }

  #form2 > form>label {
    display: block;
    margin-top: 4px;
  }

  #form2 > form>input {
    display: block;
    margin-top: 4px;
  }

  #form2 > form>p {
    display: block;
    margin-top: 4px;
  }

  #final{
    font-size:15px; 
    text-align: center; 
    margin-top: 70px; 
    background-color: var(--corfundoh1 ); 
    padding: 10px; 
    color: white; 
    font-weight: bold; 
    font-style: italic;
  }

  .foto{
    max-width: 400px;
    min-width: 200px;
    display: block;
    margin: auto;
    box-shadow: 8px 0px 10px gray;
  }

  .negrito{
    font-weight: bold;
    display: inline;
    background-color: var(--corfundomain);
  }

  #fotocurio{
    display: flex;
    justify-content: space-between;
    background-color: var(--corfundomain);
 
  }

  #distrib{
    background-color: var(--corfundomain);
  }

  #curio > ul > li {
    background-color: var(--corfundomain);
  }


  #distrib > h3{
    position: top;
  }

  #curio {
    max-width: 400px;
  }

  #curio > h3{
    position: top;
  }

  #distrimg{
    max-width: 200px;
    min-width: 200px;
    padding-left : 40px;
    background-color: var(--corfundomain);
  }

  #mapaexterno{
    background-color: var(--corfundomain);
    margin: auto;
  }

  #mapa{
    background-color: var(--corfundomain);
    box-shadow: 8px 0px 10px gray;
  }

  #mapaexterno > h3{
    margin: 20px 0px 20px 0px;
  }

  li{
    padding: 10px;
  }

  .dropdown {
    background-color: var(--corfundoh1);
    padding: 8px;
    width: 50px;
    text-decoration: none;
    margin-bottom: 10px;
  }

  .dropdown > p {
    color: rgb(255, 255, 255);
    background-color: var(--corfundoh1);
    cursor: default;
  }

  .content a{
    display: none;
    padding: 12px;
    background-color: var(--corfundoh1);
    opacity: 70%;
    text-decoration: none;
    color: rgb(255, 255, 255);
    width: 150px;
  }

  .content{
    position: absolute;
  }

   .dropdown:hover > .content> a{
    display: block;
  }

  .content> a:hover{
    background-color: green;
  }

